* {
	outline: none !important;
}
a {
	text-decoration: none;
	color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
a:hover {
	text-decoration: none;
	color: #00FF87;
}
:focus {
    outline: none !important;
}
section {
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
h1 {
    color: #fff;
    font-family: 'CormorantGaramond-Bold';
    font-size: 6.4rem;
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
h1 strong {
    font-weight: normal;
    color: #0F0F0F;
    padding: 2px 8px;
    position: relative;
    display: inline-block;
}
h1 strong::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #00FF87;
    border-radius: 5px;
    z-index: -1;
}
h2 {
    color: #fff;
    font-family: 'CormorantGaramond-Bold';
    font-size: 4.8rem;
    line-height: 70px; 
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
h2 strong {
    font-weight: normal;
    color: #0F0F0F;
    padding: 2px 5px;
    position: relative;
    display: inline-block;
}
h2 strong:after {
    content: "";
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #00FF87;
    border-radius: 5px;
    z-index: -1;
}
h3 {
    color: #F9F8F6;
    font-family: 'CormorantGaramond-Bold';
    font-size: 3.6rem;
    line-height: normal;
    text-transform: uppercase;
}
h4 {
    color: #F9F8F6;
    font-family: 'CormorantGaramond-Bold';
    font-size: 2.8rem;
    line-height: normal;
    text-transform: uppercase;
}
h4 strong {
    font-weight: normal;
    color: #00FF87;
}
h5 {
    color: #fff;
    font-family: 'LamaSans-Medium';
    font-size: 2.4rem;
    line-height: normal;
}
h6 {
    color: #fff;
    font-family: 'LamaSans-SemiBold';
    font-size: 1.6rem;
    line-height: 24px;
}
p {
    color: #fff;
    font-family: 'LamaSans-Regular';
    font-size: 1.6rem;
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
ul {
	padding: 0;
	list-style-type: none;
	margin-bottom: 16px;
}
li {
    font-family: 'LamaSans-Regular';
    font-size: 1.6rem;
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    position: relative;
    padding-left: 20px;
}
li::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    left: 0;
    top: 7px;
    background-color: #00FF87;
    transform: rotate(45deg);
}
.common-btn {
    color: #fff;
    font-family: 'LamaSans-SemiBold';
    font-size: 1.6rem;
    line-height: 24px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.common-btn::after {
    content: '';
    height: 48px;
    width: 48px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #00FF87;
    border-radius: 100px;
    background-color: #00FF87;
    background-image: url(/public/Assest/btn-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.common-btn strong {
    font-weight: normal;
    padding: 11px 18px;
    border: 1px solid #fff;
    border-radius: 100px;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.common-btn:hover {
    padding-right: 48px;
}
.common-btn:hover strong {
    background-color: #00FF87;
    border-color: #00FF87;
    color: #0F0F0F;
}
.common-btn:hover::after {
    opacity: 1;
    transform: scale(1);
}
.common-arrow {
    height: 53px;
    width: 53px;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.common-arrow:after {
	display: none;
}
.common-arrow img {
	width: 13px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.common-arrow:hover {
    background-color: #00FF87;
    border-color: #00FF87;
}
.common-arrow:hover img {
    filter: brightness(0);
}
.common-bg {
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.side-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    height: 90%;
}
.side-stick {
    height: calc(100% - 40px);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}
.side-box {
    min-height: 18px;
    min-width: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    transform: rotate(45deg);
}